@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

:root {
  --white:#F6F5F5;
  --white-lighter:#f6f5f5b7;
  --black:#3A405A;
  --black-selected:#484F6A;
  --teal:#1687A7;
  --teal-darker:#276678;
  --yellow:#F6E59B;
  --red:#C33C54;
  --green:#09BC8A;
  --pink:#FFA9E7;

}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: [sidebar] 23rem [content] auto;
  grid-template-rows: [header] 10vh [tools] auto;
}

.sidebar {
  position:fixed;
  width: 23rem;
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  grid-column: sidebar;
  grid-row: 1 / span 2;
}

.wrapper {
  padding:0.5rem 2rem;
}

.logo {
 padding-left: 2rem;
 padding-top: 2rem;
 margin-bottom: 2rem;
}

.sidebar__section {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.sidebar__section--title {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--white-lighter);
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.sidebar__section--link {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  display: flex;
  padding: 0.5rem 0;
}

.link--wrapper {
  padding: 0.2rem 2rem;
  padding-bottom: 0.4rem;
}

.link--wrapper:hover {
  background-color: var(--black-selected);
}

.selected {
  background-color: var(--black-selected);

}

.sidebar__section--link p {
  color: var(--white);
  align-self: center;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-column: content;
  grid-row: header;
}

.header__title{
  display: flex;
}
.header__title img{
  align-self: center;
  margin-left: 2rem;
}
.header__title h1{
  align-self: center;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.header--icon {
  height: 3rem;
}

.header--options {
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
}

.todo {
  grid-column: content;
  grid-row: tools;
  color: var(--black);
  margin-left: 0.5rem;
  padding: 0 3rem;

}

.todo__form {
  display: flex;
  margin:5rem 0;
}

.todo__form input {
  color: var(--black);
  height: 4rem;
  padding: 1rem;
  padding-top: 2rem;
  font-size: 2.4rem;
  font-weight: 300;
  width: 100%;
  border:none;
  border-bottom: 1px solid var(--black);
}

.todo__form input:focus {
  outline: none;
}

.todo__form input::placeholder {
  color: var(--black);
  font-size: 2.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

}

.todo__form button {
  margin-left: 1rem;
  margin-top: 0.6rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 3rem;
  color: var(--white);
  background-color: var(--black);
  align-self: center;
  cursor: pointer;
}


.todo__list {
  font-size: 2.2rem;
  font-weight: 300;
  height: 40vh;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.todo__list--item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;

}
.todo__list--item label {
  cursor: pointer;
  margin-left: 0.6rem;
}

.todo__list--item input[type="checkbox"] {
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 3px;
  border: 1px solid var(--black);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.todo__list--item input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem;
  content: "\f00c";
  color: #fff;
  display: none;
}

.todo__list--item input[type="checkbox"]:checked {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.todo__list--item input[type="checkbox"]:checked::after {
  display: block;
}

.todo__completed h3 {
  font-size: 2.8rem;
  font-weight: 400;
}

.todo__completed hr {
  margin-bottom: 2rem;
}

.crossed {
  text-decoration: line-through var(--black);
}